@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.bodyindex2 {
    background-color: rgba(0, 0, 0, 0.419);
    height: 100%;
}

.bodycontacto {

    background-image: url("../assets/img/fondo\ grande\ contacto.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.855);
}


.footer {
    width: 100%;
    height: 60%;
    background-image: radial-gradient(circle, #b11809, #93160f, #761511, #591410, #3d110d);
    margin-top: 0%;
    padding: 1%;
    border: solid black;
    border-style: double;
    border-width: 0.3cm;
}

* {
    margin-top: 0%;
}


.header {
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: 90%;
}

.logoheader {
    padding: 0px;
    background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
    width: 100%;
    height: 60%;
    position: relative;
    border: solid black;
    border-style: double;
    border-width: 0.3cm;
    text-align: center;
}



.mainclass {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.navHeader {
    padding: 0px;
    background-image: radial-gradient(circle, #b1170994, #93160f, #761511, #591410, #3d110d);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 20%;
    position: flex;
    border: solid black;
    border-style: double;
    border-width: 0.3cm;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.bounce-in-top {
    animation: bounce-in-top 2s both;
}

.p1:hover {
    background-color: rgba(77, 2, 2, 0);
    color: #00397a;
    font-size: 140%;
}


.kenburns-top {
    -webkit-animation: kenburns-top 5s ease-in both;
    animation: kenburns-top 5s ease-in both;
}


.p1 {
    color: rgba(255, 255, 255, 0.815);
    background-color: rgba(7, 1, 1, 0.007);
    text-decoration: none;
    font-size: 125%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    flex-wrap: wrap;
    font-family: 'Arima', cursive;
    text-align: center;
    text-align: justify;
    padding: 1%;
    transition: all 1s;
    border-radius: 5%;
}

.p3 {
    display: flex;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-size: 150%;
    height: 100%;
    width: 100%;
    justify-content: center;
    transition: all 3s;
    font-family: 'Arima', cursive;
}

.titulos {
    display: flex;
    background-color: rgba(0, 0, 0, 0.753);
    border: solid #504f4f;
    text-align: justify;
    text-decoration: none;
    font-size: 12vh;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    border-radius: 2%;
    gap: 10%;
    padding: 1%;
    font-family: 'Arima', cursive;
    font-family: 'Unna', serif;
    color: #ffbe0b;
    width: 100%;
}

.galeria {
    display: flex;
    margin: 12%;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario {
    display: flex;
    justify-content: center;
    
    


}


.formulario_texto {
    
    background-color: #fffbfb;
    border: #5560fa solid;
    width: 50px;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
text-align: center;
}

.formulario_boton {
    margin: 2%;


}

.carrito {
    
    position: fixed;
    display: flex;
    margin-left: 5%;
    width: 80%;
    height: 12%;
    
    border-radius: 15%;
   
   justify-content: right;
   align-items: center;
    transition: ease 0.3s;
   
}
.carrito_boton{
    position: relative;
    background-color: #9b0606f8;
    margin-bottom: 6%;
    border: solid 2px #000000;
    border-radius: 55%;
    padding: 1%;
    transition: all 1s;
    justify-content: center;
    align-items: center;

   
    
}
    .carrito_boton:hover{
        background-color: rgb(201, 15, 15);
    color: #000000;
    font-size: 120%;
    }
.p15{
    position: absolute;
    background-color: yellow;
    border: solid black;
    border-radius: 60%;
    height: 50%;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    font-size: 120%;
}
.p16{
    
    text-align: center;


}
@media screen and (max-width: 1145px) {

    .p1 {
        font-size: 90%;
    }

    .navHeader {
        flex-wrap: wrap;
    }
}